* {
	
	box-sizing: border-box;
}

html, body {
	height: 100%;
    Margin: 0 auto;	
    width: 600px;
    font-style: italic;
    color:white;
    background-color: black;
    
}

Header {
    height: 120px;
    width:100%;
    background-image:url("../images/2-Hangman.jpg");
    background-size: cover;
}
.rightcol {
    float: right;
    margin: 0;
    width: 300px;
    Height: 400px;
    border: 2px dotted white; 
}




.leftcol {
    float: left;
    margin: 0;
    width: 300px;
    Height: 400px;
    border: 2px dotted white; 
}

.singerimg {
    margin-top:10px;
    margin-left:20px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-width: 2px;
    border-color:white;

}


.game {
    color: white;
    text-align: center;
    margin: 10px auto;
    font-style: italic;
}

button {
    margin-top: 30px;
    margin-left: 95px;
}